*.pyc
.DS_Store
.ipynb_checkpoints
requirements-tocheck.in
dev-requirements.txt
.python-version
adb_links.ndjson
all-agencies*
all_agencies*
departments*.json
draft*.ipynb
single-agency*.html
Untitled*
query*.csv
*.sqlite
formatters.json
aus_ids.html
mygraph*
snippets.ipynb
.env
